/* Grid */

.grid-1 { width: 6.5%; }
.grid-2 { width: 15%; }
.grid-3 { width: 23.5%; }
.grid-4 { width: 32%; }
.grid-5 { width: 40.5%; }
.grid-6 { width: 49%; }
.grid-7 { width: 57.5%; }
.grid-8 { width: 66%; }
.grid-9 { width: 74.5%; }
.grid-10 { width: 83%; }
.grid-11 { width: 91.5%; }
.grid-12 { width: 100%; }

.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12 {
  margin: 0 2% 0 0;
  float: left;
  display: block;
}

.alpha { margin-left:0; }
.omega { margin-right:0; }

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 60px;
  padding-right: 60px;
}

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
  content: '';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}

* html .clearfix, *:first-child+html .clearfix {
  zoom: 1;
}

/* Custom Resets */

html {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: inherit;    /* Firefox, other Gecko */
  box-sizing: inherit;         /* Opera/IE 8+ */
}

a, a:active, a:hover, a:focus {
  outline: none;
}

img {
  border: none;
  max-width: 100%;
  height: auto;
  vertical-align: top;
}